---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import type { TPostType } from "@/types";
const entry = (await getEntryBySlug("pages", "waitlist"));
const { Content } = await entry.render();
---

<Base title={entry.data.title}>
  <section class="section">
    <div class="container">
      <h1 class="text-center font-normal" set:html={markdownify(entry.data.title)} />
      <div class="iframe-container">
        <iframe
          src="https://aa42480c.sibforms.com/serve/MUIFABBV7ufJ8wlLgCwV0uetYHcKpBM8c5mhmdWRO6kxr9QNEfbWGfvJSuqkgFr2xsfV8llDdoRKizoWFzRgIMceCq9ZX6tUT0rhR1IaSDpz3jKLFcDOwz2b0sDYtn2MFdhnbwoG408a8DQAREYQm0m55hve9tM2rjGL1IpLuNFvrZqiWxSef9wCqy0qMlcfYXE5M1ArwpNV-Xp0"
          frameborder="0"
          scrolling="yes"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </section>

  <style>
    .iframe-container {
      position: relative;
      width: 100%;
      height: 100vh; /* Full viewport height */
    }

    .iframe-container iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  </style>
</Base>
